html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

header {
    height: 15%;
    padding: 1rem;
    color: white;
    background: rgb(0, 59, 104);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav span {
    padding: 0.5rem;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}


main {
    background: rgb(0, 0, 0);
    height: 80%;
    width: 100%;
    padding: 2rem;
}

section#contain{
    margin-bottom: 20px;
    background-color: white;
    color: black;
    margin-left: 170px;
    font-size: 50px;
    width: 130px;
    align-items: center;
    margin-top: 60px;
    height: 70px;
}
section#degrom{
    background-color: white;
    color: black;
    font-size: 38px;
    width: 600px;
    height: 300px;
    margin-left: 350px;
    margin-top: 50px;
}
button#diaz{
    width: 150px;
    height: 40px;
    margin-top: 15px;
    font-size: 30px;
}
