html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

header {
    height: 15%;
    padding: 1rem;
    color: white;
    background: rgb(0, 59, 104);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav span {
    padding: 0.5rem;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

main {
    background: rgb(0, 0, 0);
    height: 107%;
    width: 100%;
    padding: 2rem;
}

div {
    background: rgb(249, 247, 247);
    height: 50%;
    width: 50%;
}

section#wall{
    color: black;
    background-color: white;
    font-size: 38px;
    width: 400px;
    height: 100px;
    margin-left: 30px;
    margin-top: 20px;
}
section#walmart{
    color: black;
    background-color: white;
    font-size: 28px;
    width: 1000px;
    height: 400px;
    margin-top: 60px;
    margin-left: 30px;
}
button#ottavino{
    color: white;
    background-color: black;
    width: 300px;
    height: 30px;
}
button#mo{
    color: black;
    background-color: white;
    width: 200px;
    height: 30px;
    margin-left: 825px;
    margin-top: 20px;
}