<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>HTML Intro</title>
        <link rel="stylesheet" href="css/about.css">

    </head>

    <body>
        <header>
            <h1><a href="/">ENVIRONMENTAL<br />DATA MARKET</a></h1>
            <nav>
                <span><a href="/">HOME</a></span>
                <span><a href="#">LOGOUT</a></span>
            </nav>
        </header>
    
    <main>
        <section id="container">
            <div class="content">
                <article class="banner">
                    About
                </article>
            </div>
        </section>
    
        <section id="aboutcontent">
            <div class="aboutcontent">
                <article class="why">
                    Why? 
                </article>
   
                <article>
                    In the past, institutions have deployed troves of representatives to visit as many residences as possible to compile data. However, with many reluctant to sign off on sharing data, it rapidly proved to be a futile effort. Today, with institutions and businesses vying to employ common methods in the realm of computing such as data mining or machine learning that contribute to the creation of impactful models, the need for a data market has been highlighted by the lack of both the incentive for people to share data and presence of an organized collection of data. 
                </article>
           
                <article class="how">
                    How?
                </article>
    
                <article>
                    In order to create an environmental data market that builds computational processes for societal change with sustainability, differential privacy with statistical noise is essential. The added noise can help optimize privacy and incentivize people to feel safe in releasing essential data points to assist in reversing the curtailed growth of algorithmic processes that can efficiently implement widespread carbon regulations or serve other sustainable functions. 
                </article>
            </div>
        </section>
    </main>
    </body>


    
