<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>HTML Intro</title>
        <link rel="stylesheet" href="css/login.css">
    </head>

    <body>
        <header>
            <h1><a href="/">ENVIRONMENTAL<br />DATA MARKET</a></h1>
            <nav>
                <span><a href="/">HOME</a></span>
                <span><a href="#">LOGOUT</a></span>
            </nav>
        </header>
    <main>
        <section id="contain">
            <div class="content">
                <article>
                    Login
                </article>
            </div>
        </section>
        <section id="degrom">
            <form>
                User: <br ><input type = "text" name = "user"><br>
                Password:<br ><input type = "text" name = "password"><br>
                <button id="diaz">
                    Submit
                </button>
            </form>
        </section>
    </main>
    </body>