<!doctype html>
<html>

<head>
    <title>DATA MARKET</title>
    <link rel="stylesheet" href="css/message.css">
</head>

<body>
    <header>
        <h1>ENVIRONMENTAL<br />DATA MARKET</h1>
        <nav>
            <span><a href="/">HOME</a></span>
            <span><a href="#">LOGOUT</a></span>
        </nav>
    </header>

    <main role="main">
        
        <section id="j">
            Online with Associate Sales Representative
        </section>
        <section id="m">
            Hello, how can I help you today?
        </section>
        <section id="v">
            I am interested in the consumerism set.
        </section>
        <section id="a">
            Excellent! he price will range depending on the number of points.
        </section>
        <section id="hq">
            <form id="alo">
                Response: <br ><input type = "text" name = "reply"><br>
            </form>
            <button id="givens">
                Send
            </button>
        </section>
    </main>
</body>
</html>