<!doctype html>
<html>

<head>
    <title>DATA MARKET</title>
    <link rel="stylesheet" href="css/upload.css">
</head>

<body>
    <header>
        <h1><a href="/">ENVIRONMENTAL<br />DATA MARKET</a></h1>
        <nav>
            <span><a href="/">HOME</a></span>
            <span><a href="#">LOGOUT</a></span>
        </nav>
    </header>

    <main role="main">
        
        <section id="wall">
            Welcome! Please Upload Your Information!
        </section>
        <section id="walmart">
            <form>
                <section id="walmart2">
                    User: <br ><input type = "text" name = "user"><br>
                    Location:<br ><input type = "text" name = "location"><br>
                    Contact:<br ><input type = "text" name = "contact"><br>
                    Data Type:<br ><input type = "text" name = "type"><br>
                    <br>
                    Please Read Agreements. <br>
                    <br>
                    Please Upload Datasets in XLS, CSV, CDF, ACCDB, JSON, ORC.
                    <br>
                    <br>
                </section>
                <button id="ottavino" type="submit">Submit</button>
            </form>
            <button id="mo" type="button" onclick="location.href='/board'">Back to Board</button>
        </section>

    </main>
</body>
</html>